@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.ttf') format('truetype'); /* Adjust the path and file format accordingly */
    /* Additional font properties if needed (e.g., font-weight, font-style) */
 
  }
  
  /* Use the font in your application */
  body {
    font-family: 'Poppins', sans-serif; /* Apply your font family */
  }
  